@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* Видаляємо крапки в списках */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Глобальний сброс */
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  text-decoration: none;
  color: #212121;
}

/* Додатковий клас контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* outline: 2px solid #188ce8; */
/* Розбивка по секціям */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding {
  padding-bottom: 0;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .container__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  z-index: 999;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin: 0;
  }
}

/* Логотип */
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #212121;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.header__logo--accent {
  color: #2196f3;
}

.logo-container {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .logo-container {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 26px;
    line-height: 1.2;
  }
}

.footer__logo--whited {
  color: #ffffff;
}

.site-nav {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 305px;
  }
}

.site-nav__item {
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link {
  padding: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nets {
    display: none;
  }
}

.nets__item {
  margin: 0;
}

.nets__link {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  color: #2196f3;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.nets__link--first {
  border: none;
}

.header-contact {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header-contact {
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 0;
    margin-right: 0;
  }
  .header-contact .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .header-contact .header-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contact__link {
  color: #757575;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-contact__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact__item .header-contact__link:hover,
.header-contact__item .header-contact__link:focus {
  color: #2196f3;
}

.header-contact__icon-envelope {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__icon-envelope {
    display: inline-block;
    content: "";
    padding: 0;
    margin-right: 8px;
    width: 16px;
    height: 12px;
    background-size: contain;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__icon-envelope {
    margin-right: 10px;
  }
}

.header-contact .header-contact__link:hover .header-contact__icon-envelope,
.header-contact .header-contact__link:focus .header-contact__icon-envelope {
  fill: #2196f3;
}

.header-contact__icon-phone {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__icon-phone {
    display: inline-block;
    content: "";
    padding: 0;
    width: 10px;
    height: 16px;
    background-size: contain;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__icon-phone {
    margin-left: -16px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__icon-phone {
    margin-right: 10px;
  }
}

.header-contact .header-contact__link:hover .header-contact__icon-phone,
.header-contact .header-contact__link:focus .header-contact__icon-phone {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contact__link--phone {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.18;
  }
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlaymob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlaymob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlaymob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlaymob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlaytab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlaytab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlaytab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlaytab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlay.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imageoverlay@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageoverlay@2x.jpg);
  }
}

.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-hero__service {
  display: inline-block;
  padding: 10px 32px;
  color: #ffffff;
  background: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero__service:hover, .section-hero__service:focus {
  background: #188ce8;
}

@media screen and (min-width: 768px) {
  .qualities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.qualities__item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .qualities__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.section-name--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.qualities__table {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities__text {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.qualities--no-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 100px;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qualities__icon-antenna,
.qualities__icon-clock,
.qualities__icon-diagram,
.qualities__icon-astronaut {
  width: 70px;
  height: 70px;
}

.section-activities {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-activities {
    display: block;
  }
}

.section-activities__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.busyness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.busyness__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.busyness__item + .busyness__item {
  margin-left: 30px;
}

.box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay__text {
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__title {
  color: #212121;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

.people {
  display: block;
}

@media screen and (min-width: 768px) {
  .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.people__item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .people__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .people__item {
    margin: 0;
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .people__item:last-child {
    margin-right: 0;
  }
}

.people__item:last-child {
  margin-bottom: 0;
}

.name {
  padding: 30px 0;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name__team-item {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.name__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.socialnets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.socialnets__item:not(:last-child) {
  margin-right: 10px;
}

.socialnets__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnets__link:hover, .socialnets__link:focus {
  background: #2196f3;
}

.socialnets__link:hover .socialnets__icon-instagram,
.socialnets__link:focus .socialnets__icon-instagram {
  fill: #ffffff;
}

.socialnets__link:hover .socialnets__icon-twitter,
.socialnets__link:focus .socialnets__icon-twitter {
  fill: #ffffff;
}

.socialnets__link:hover .socialnets__icon-facebook,
.socialnets__link:focus .socialnets__icon-facebook {
  fill: #ffffff;
}

.socialnets__link:hover .socialnets__icon-linkedin,
.socialnets__link:focus .socialnets__icon-linkedin {
  fill: #ffffff;
}

.socialnets__icon-instagram,
.socialnets__icon-twitter,
.socialnets__icon-facebook,
.socialnets__icon-linkedin {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .section-clients__title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies__item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .companies__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .companies__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.companies__item .companies__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.companies__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 52px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .companies__link {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__link {
    padding: 16px 0;
    width: 100%;
  }
}

.companies__link:hover, .companies__link:focus {
  border: 1px solid #2196f3;
}

.companies__link:hover .companies__icon,
.companies__link:focus .companies__icon {
  fill: #2196f3;
}

.companies__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .container__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .tablet {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .tablet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address {
  font-style: normal;
}

.address__item {
  display: block;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address__link {
  display: block;
  margin-bottom: 8px;
  color: #757575;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:last-child {
  margin-bottom: 0px;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0;
  }
}

.join__slogan {
  display: block;
  margin-bottom: 20px;
  font-style: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background: #2196f3;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon-instagram,
.socials__icon-twitter,
.socials__icon-facebook,
.socials__icon-linkedin {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .sign {
    margin-left: 93px;
  }
}

.sign__slogan {
  margin-bottom: 20px;
  font-style: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-form__mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 15px 387px 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-style: 700;
  font-size: 16px;
  line-height: 1.25;
  Align: Left;
  vertical-align: Center;
  Letter-spacing: 0.03em;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-form__mail {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__mail {
    padding: 15px 295px 15px 16px;
    width: 358px;
    height: 50px;
    margin-bottom: 0;
  }
}

.footer-form__mail:focus-within {
  border-color: #2196f3;
  outline: none;
}

.footer-form__mail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__mail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__mail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__service-sign {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin-left: 140px;
  margin-right: auto;
  padding: 10px 29px 10px 29px;
  color: #ffffff;
  background: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-form__service-sign {
    margin-left: 12px;
    margin-right: 0;
  }
}

.footer-form__service-sign:hover, .footer-form__service-sign:focus {
  background: #188ce8;
}

.footer-form__icon-send {
  margin-left: 10px;
  margin-right: 0;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 93px 15px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: relative;
  background-color: #ffffff;
  width: 450px;
  height: 609px;
  z-index: 999;
}

@media screen and (min-width: 1200px) {
  .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 581px;
    max-width: 528px;
    width: 100%;
  }
}

.modal__button-close-modal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal__button-close-modal:hover .modal__icon-close,
.modal__button-close-modal:focus .modal__icon-close {
  fill: #2196f3;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-style: 700;
  Font-size: 20px;
  Line-height: 1.5;
  text-align: Center;
  vertical-align: Top;
  Letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    Font-size: 16px;
    Line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field:focus-within .form-field__icon-man {
  fill: #2196f3;
}

.form-field:focus-within .form-field__icon-phone2 {
  fill: #2196f3;
}

.form-field:focus-within .form-field__icon-envelope2 {
  fill: #2196f3;
}

.form-field__icon-man {
  position: absolute;
  top: 34px;
  left: 12px;
  width: 12px;
  height: 12px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon-phone2 {
  position: absolute;
  top: 34px;
  left: 12px;
  width: 13px;
  height: 13px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon-envelope2 {
  position: absolute;
  top: 34px;
  left: 12px;
  width: 15px;
  height: 12px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__form-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

.form-field__form-lable:focus-within .form-field__form-input {
  border-color: #2196f3;
  outline: none;
}

.form-field__comment {
  padding: 12px 16px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  Font-size: 12px;
  Line-height: 1.16;
  Letter-spacing: 0.01em;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment:focus-within {
  border-color: #2196f3;
  outline: none;
}

.form-field__form-lable--form-comment {
  margin-bottom: 4px;
}

.form-field__form-input {
  display: inline-block;
  padding: 12px 12px 12px 42px;
  margin-top: 4px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  Font-size: 16px;
  Line-height: 1.16;
  Letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
}

.agree__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agree__checkbox:checked + .agree__checkbox-icon {
  opacity: 0;
}

.agree__checkbox:checked + .agree__checkbox-icon + .agree__check {
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  fill: #ffffff;
  border: 2px solid #2196f3;
  border-radius: 2px;
  margin-right: 7px;
  opacity: 1;
}

.agree__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.agree__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  fill: #ffffff;
  border: 2px solid #2196f3;
  border-radius: 2px;
  margin-left: -23px;
  margin-right: 7px;
  opacity: 0;
}

.agree__link {
  margin-left: 5px;
  color: #2196f3;
}

.contract {
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__service-button {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #ffffff;
  background: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__service-button:hover, .modal__service-button:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-right: auto;
    margin-left: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__button {
  display: inline-block;
  border: transparent;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.works {
  display: block;
}

@media screen and (min-width: 768px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    margin-bottom: 0;
  }
}

.works__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .works__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .works__item {
    width: calc((100% - 3 * 30px) / 3);
  }
  .works__item:nth-child(3n) {
    margin-right: 0;
  }
  .works__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.works__item:not(:last-child) {
  margin-bottom: 30px;
}

.works__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover, .works__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.img-thumb__work-overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 100%;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .img-thumb__work-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.img-thumb__technokryak {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: #ffffff;
}

.part {
  padding: 20px 24px;
  width: 450px;
  background-color: #ffffff;
  text-align: left;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .part {
    width: 354px;
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .part {
    width: 370px;
    height: 110px;
  }
}

.part__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.part__work-item {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */