.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $footer-bcg;
}

.container__footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px){
    justify-content: center;
  }
  @media screen and (min-width: 1200px){
  flex-direction: row;
    align-items: flex-start;
}
}

.tablet {
  display: flex;
  flex-direction: column;
  align-items: center;

@media screen and (min-width: 768px) {
flex-direction: row;
align-items:baseline;

    outline: 1px solid green;
  }
@media screen and (min-width: 1200px) {
  justify-content: center;
  align-items: flex-start;
}
}