.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $footer-bcg;
}

.container__footer{
  display: block;
  @media screen and (min-width: 768px){
    // display: flex;
  }
  @media screen and (min-width: 1200px){
  align-items:baseline;
}
}

.tablet {

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    outline: 1px solid green;
  }
}