.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $footer-bcg;
}

.container__footer{
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items:baseline;
  }
}