.section-hero {
 padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: $footer-bcg;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imageoverlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  }
}

.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $text-white;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  line-height: 1.36;
  }
}
