.join{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // outline: 1px solid aquamarine;
  margin-bottom: 60px;
  @media screen and (min-width: 768px){
   margin-left: 80px;
  }
  @media screen and (min-width:1200px){
    margin-bottom: 0;
    
  }
}

.join__slogan{
  display: block;  
margin-bottom: 20px;
font-style: 700;
font-size: 14px;
line-height: 1.142;
text-transform: uppercase;
letter-spacing: 0.03em;
color: $text-white;
@media screen and (min-width: 768px){
  
}
}

