.join{
  margin-bottom: 60px;
  @media screen and (min-width:1200px){
    margin-left: 70px;
    
  }
}

.join__slogan{
  display: block;
  
  margin-left: 167px;
  margin-right: 167px;
  
margin-bottom: 20px;
font-style: 700;
font-size: 14px;
line-height: 1.142;
text-transform: uppercase;
letter-spacing: 0.03em;
color: $text-white;
}

