/* Логотип */
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: $title-color;
  text-decoration: none;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  
  @media screen and (min-width:768px){
  margin-right: 88px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width:1200px){
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 26px;
  line-height: 1.2;
}
}

.header__logo--accent {
  color: $accent-color;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo{
  display: block;
  
  margin-bottom: 20px;
  color: $accent-color;
  text-decoration: none;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width:768px){
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 26px;
  line-height: 1.2;
}
}

.footer__logo--whited {
  color: $text-white;
}