.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width:1200px){
    justify-content: space-between;
    align-items: center;
  
  }
}

.menu-button{
display: inline-block;
margin: 0;
padding: 0;
border: none;
background-color: transparent;
@media screen and (min-width: 768px) {
  display: none;
}

&:hover,
&:focus{
  fill: $accent-color;
}
}

.menu-button{
  .icon-cross{
display: none;
}
}

.menu-button.is-open{
  .icon-cross{
display: block;
}
.icon-menu{
  display: none;
}
}

.menu-container{
  // display: none;
z-index: 999;
  // outline: 1px solid violet;
  // background-color: rgb(194, 213, 27);
  // overflow-y: scroll;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top:100% ;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    &.is-open{
      display: block;
    }
  }
  @media screen and (min-width: 768px){
    display: flex;
  }
  @media screen and (min-width: 1200px){
    margin: 0;
  }
  }






