.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width:1200px){
    justify-content: space-between;
  
  }
}

.menu-button{
display: inline-block;
margin: 0;
padding: 0;
border: none;
background-color: transparent;
}

.menu-button{
  .icon-cross{
display: none;
}
}

.menu-button.is-open{
  .icon-cross{
display: block;
}
.icon-menu{
  display: none;
}
}

.menu-container{
  display: none;
  position: absolute;
  top:100% ;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  outline: 1px solid violet;
  background-color: aqua;
  
  &.is-open{
    display: block;
  }
  // display: flex;
  }






