.section-team {
  background-color: $secondary-bgc;
}

.section-team__title {
  color: $title-color;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  @media screen and (min-width:1200px) {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
}
  }
